.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vis-item.done {
  background-color: greenyellow;
  border-color: green;
}

.vis-item.todo {
}

.vis-item.vis-selected {
  background-color: white;
  border-color: black;
  color: black;
  box-shadow: 0 0 10px gray;
}


